# Node modules
node_modules/

# Env files
.env
*.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Coverage reports
coverage/

# Optional npm cache directory
.npm/

# Local env or encrypted config files
*.enc

# IDEs and editors
.vscode/
.idea/

# System files
*.swp
